* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    text-align: center;
    background-image: url('back.jpeg');
    font-size: large;
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

a:hover {
    color: rgb(17, 115, 117);
    box-shadow: 2px 3px 4px 2px rgb(8, 7, 7);
}

.nav-links {
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 2px 3px 4px 2px gray;
    width: 100%;
    background-color: #fff;
    gap: 2em;
    list-style: none;
    top: 0;
    margin-top: 0%;
}

h1 {
    color: rgb(109, 68, 68);
}

h2 {
    display: inline-block;
    padding: 10px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    display: inline-block;
    color: gray;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
}

p {
    font-size: 35px;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    padding: 30px;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 10px;
    box-shadow: 2px 3px 2px 3px rgb(121, 120, 121);
    border-style: dotted;
    background-color: #f6e7ce;
    width: 60%;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(91, 89, 89);
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    display: inline-block;
    margin: 2em;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    border: 20px;
    object-fit: cover;
    box-shadow: 0 0 15px #02352c;
    justify-content: flex-start;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.icon-circle {
    width: 42px;
    height: 42px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-circle i {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.icon-circle:hover {
    background-color: #111;

}

div {
    margin-top: 2em;
    margin-bottom: 3em;
}

button {
    background-color: #f9e5b8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 5%;
}

button:hover {
    background-color: rgb(163, 137, 137);
    color: white;
}

form {
    background-color: #f6e7ce;
    width: 25%;
    margin: auto;
    box-shadow: 0 0 5px #02352c;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}

label {
    font-size: 30px;
}

ul {
    border-radius: 10px;
    font-size: 30px;
    box-shadow: 2px 3px 2px 3px gray;
    width: fit-content;   
    margin: 20px auto;   
    padding: 20px 40px;
    list-style: none;
    text-align: left;
    margin-bottom: 80px;
}


ul :hover {
    background-color: rgb(252, 248, 252);
}
input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #999;
}

